{
  "presets": ["env","stage-0"],
  "plugins": ["transform-runtime",
    ["import", { "libraryName": "ant-design-vue", "libraryDirectory": "es", "style": "css" }],
    "transform-remove-strict-mode"]
}